{% extends "base.html.twig" %}

{% block title %}Thank You | {% endblock %}

{% block content %}
    <section class="pt-8">
        <h2>Success!</h2>
        <div>
            <p class="text-2xl">Your Halloween image is on its way to your friend. <a href="/">Want to scare another friend?</a></p>
        </div>
    </section>
{% endblock %}